@charset "UTF-8;"

body{
    background-color: rgb(186, 243, 184);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(4, 109, 0) ;
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(73, 109, 71);
}

.básico{
    color: rgb(73, 109, 71);
    font-weight: bold;

}
.intermediário{
    color: rgba(210, 245, 12, 0.774);

}
.avançado{
    color: rgb(248, 109, 104);
    font-weight: bold;


}
.destaque{
    background-color: rgba(163, 163, 52, 0.459);
}