@charset "UTF-8";

{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #76C1C3, 
    #548D95);
}

main{
    background-attachment: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #548D95 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #c58112;
    text-align: center;
    text-shadow: 1px 1px 2px #945d04  ;
}

h2{
    color: #9edb33;
}

p{
    text-align: justify ;
}